/* rem and em do not depend upon on html font-size in the media queries!
Instead 1 rem =em = 16px*/
/* ************************* */
/* Below 1376px (Smaller desktops) */
/* ************************* */

@media (min-width: 23.5em) {
  html {
    /* 11px/16px */
    font-size: 68.75%;
    /* overflow-x: hidden; */
  }
  body {
    background-size: cover;
  }
  .main-nav-div {
    /* width: 500px;
        height: 180px; */
    margin: 0rem;
  }
  .hero-section {
    background-color: #f0f6ff;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    height: 58vh;
  }
  .hero-text-box {
    top: 15%;
    right: 6%;
    padding: 3.4rem 2.4rem;
    height: 75%;
  }
  .nav-svg {
    width: 482px;
    height: 50%;
    margin: 0rem;
  }
  .color-1,
  .color-2,
  .color-3 {
    margin-bottom: 0.7rem;
  }
  .next-btn:link,
  .next-btn:visited {
    bottom: -2%;
    right: 5%;
  }
  .back-btn {
    bottom: 0%;
    left: 5%;
  }
}
@media (min-width: 30em) {
  body {
    background-size: cover;
  }
  .main-nav-list {
    left: 25%;
    top: 18%;
    gap: 3.2rem;
  }
  .nav-svg {
    width: 565px;
    height: 50%;
    margin: 0rem;
  }
  .hero-text-box {
    padding: 3.4rem 2.4rem;
    height: 75%;
  }
  .hero-section {
    height: 54vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
  }
  .next-btn:link,
  .next-btn:visited {
    bottom: -4%;
    right: 5%;
  }
  .back-btn {
    bottom: -2%;
    left: 5%;
  }
}
@media (min-width: 35em) {
  .main-nav-list {
    left: 25%;
    top: 16%;
    gap: 4.8rem;
  }
  .nav-svg {
    width: 670px;
    height: 50%;
    margin: 0rem;
  }
  .hero-section {
    height: 47vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
  }
  .hero-text-box {
    height: 75%;
  }
  .next-btn:link,
  .next-btn:visited {
    bottom: -4%;
    right: 5%;
  }
  .back-btn {
    bottom: -2%;
    left: 5%;
  }
}
@media (min-width: 42em) {
  body {
    color: #bfe2fd;
  }
  .main-nav {
    display: none;
  }
  .nav-svg {
    display: none;
  }
  .main-div-tab {
    display: block;
  }
  .main-nav-1 {
    position: absolute;
    display: block;
    left: 6%;
    top: 14%;
  }
  .nav-heading-1 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
  }

  .nav-div-1,
  .nav-div-2,
  .nav-div-3,
  .nav-div-4 {
    display: flex;
    gap: 3.2rem;
    align-items: center;
  }
  .nav-1,
  .nav-2,
  .nav-3,
  .nav-4 {
    font-size: 1.2rem;
    color: #d6d9e6;
    margin-bottom: 0.5rem;
  }
  .nav-div-1,
  .nav-div-2,
  .nav-div-3 {
    margin-bottom: 2.4rem;
  }
  .nav-svg-1 {
    width: 22rem;
    height: 46rem;
  }
  .header {
    position: relative;
    padding-top: 4.8rem;
    padding: 3.2rem 2rem;
    background-color: #f0f6ff;
  }

  .main-div-tab {
    /* display: flex; */
    /* padding-top: 1rem;
        padding-bottom: 1rem; */
    padding: 1rem 0rem;
    padding-left: 1rem;
    background-color: #fff;
    box-shadow: 0.2rem 0.2rem 0.3rem hsl(217, 100%, 97%);
    border-radius: 0.9rem;
    text-decoration: none;
  }
  .main-nav-div-1 {
    list-style: none;
    text-decoration: none;
  }
  .main-nav-list {
    text-decoration: none;
  }
  .main-nav-link {
    text-decoration: none;
  }
  .main-nav-1 {
    display: grid;
  }
  .hero-section {
    background-color: #f0f6ff;
    height: 17vh;
    background-color: none;
    padding: 0rem 2rem;
    overflow: hidden;
  }
  .hero-text-box {
    /* position: static; */
    background-color: transparent;
    width: 50%;
    height: 70%;
    top: 10%;
    right: 5%;
    box-shadow: none;
    border: none;
    border-radius: 0rem;
    padding: 2rem;
  }
  .next-btn:link,
  .next-btn:visited {
    bottom: 22%;
    right: 8%;
  }
  .back-btn {
    bottom: 24%;
    left: 49%;
  }
}
@media (min-width: 52em) {
  .main-div-tab {
    width: 95%;
  }

  .hero-text-box {
    /* position: static; */
    background-color: transparent;
    width: 50%;
    height: 70%;
    top: 10%;
    right: 12%;
  }
  .next-btn:link,
  .next-btn:visited {
    bottom: 22%;
    right: 14%;
  }
  .back-btn {
    bottom: 24%;
    left: 41%;
  }
}
@media (min-width: 63em) {
  .header {
    padding-left: 9.8rem;
  }
  .main-nav-1 {
    position: absolute;
    display: block;
    left: 15%;
    top: 14%;
  }
  .main-div-tab {
    width: 93%;
  }
  .hero-text-box {
    /* position: static; */
    background-color: transparent;
    width: 50%;
    height: 70%;
    top: 10%;
    right: 11%;
  }
  .next-btn:link,
  .next-btn:visited {
    bottom: 22%;
    right: 13%;
  }
  .back-btn {
    bottom: 24%;
    left: 41%;
  }
}
@media (min-width: 75em) {
  .header {
    padding-left: 20rem;
  }
  .main-div-tab {
    width: 82%;
  }
  .main-nav-1 {
    position: absolute;
    display: block;
    left: 22%;
    top: 15%;
  }
  .hero-text-box {
    /* position: static; */
    background-color: transparent;
    width: 40%;
    height: 70%;
    top: 10%;
    right: 18%;
  }
  .next-btn:link,
  .next-btn:visited {
    bottom: 22%;
    right: 20%;
  }
  .back-btn {
    bottom: 24%;
    left: 43%;
  }
}
@media (min-width: 81em) {
  .main-div-tab {
    width: 78%;
  }
  .main-nav-1 {
    position: absolute;
    display: block;
    left: 20%;
    top: 15%;
  }
  .hero-text-box {
    /* position: static; */
    background-color: transparent;
    width: 40%;
    height: 70%;
    top: 10%;
    right: 22%;
  }
  .next-btn:link,
  .next-btn:visited {
    bottom: 22%;
    right: 24%;
  }
  .back-btn {
    bottom: 24%;
    left: 40%;
  }
}
@media (min-width: 90em) {
  .header {
    padding-left: 25rem;
  }
  .main-div-tab {
    display: flex;
    width: 78%;
  }
  .main-nav-1 {
    position: absolute;
    display: block;
    left: 21%;
    top: 15%;
  }
  .hero-text-box {
    /* position: static; */
    background-color: transparent;
    width: 35%;
    height: 70%;
    top: 10%;
    right: 25%;
  }
  .next-btn:link,
  .next-btn:visited {
    bottom: 22%;
    right: 26%;
  }
  .back-btn {
    bottom: 24%;
    left: 42%;
  }
}
